* {
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

body {
	margin: 0;
	padding: 30px;
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: #6a1b9a;
	color: #FFF;
	font-family: 'Roboto',sans-serif;
}


main {
	background-color: #9c4dcc;
	padding: 20px;
	width: 400px;;
}

form{
	display: flex;
	margin-bottom: 10px;
}

form input {
	display: block;
	width:calc(100% - 100px);
	font-size: 1rem;
	padding: 5px;
	align-items: stretch;
}

form button {
	width:100px;
	display: block;
	font-size: .7rem;
	border: none;
}

#task-list{
	margin: 0;
	padding: 0;
}

#task-list li {
	border-bottom: 1px solid rgba(255,255,255,.3);
	padding: 10px 0;
	display: flex;
}
#task-list li:hover{
	background-color: rgba(255,255,255,.1);
}

#task-list li input{
	position: relative;
	top:3px;
	margin-right: 6px;
}

#task-list li input:checked + label{
	text-decoration: line-through;
}

#task-list li label{
	flex-grow: 1;
}

#task-list li i{
	
	padding: 0 5px;
	cursor: pointer;
	opacity: .8;
}

#task-list li i:hover{
	opacity: 1;
}

.sucesso {
	border: 2px solid green;
}